html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: gray;
}
.main_body{
	width: 100%;
	background: white;
	padding: 0;
	margin: auto;
}
.orange{
	width: 100%;
	height: 270px;
	background: #E74710;
}
.white{
	width: 100%;
	height: 700px;
	padding-top: 20px;
}
.content{
	max-width: 860px;
	width: 80%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
h1{
	margin: 0;
	color: white;
}
.logo_bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	min-width: 270px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	text-decoration: none;
}
.orange span{
	padding-top: 20px;
	color: white;
	border-top: 1px solid white;
	font-size: 20px;
}
.item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.item p{
	margin: 0;
	margin-right: 10px;
}
.item_name{
	margin-right: 5px;
	width: 140px;
}
.item select{
	height: 20px;
}
button{
	height: 20px;
	min-width: 130px;
	background: #E84711;
	border-radius: 10px;
	color: white;
	border:none;
}
.total{
	border-radius: 4px;
	height: 20px;
	background: #eee;
	border: 2px solid #bbb;
	align-items: center;
	margin: 0;
}
iframe{
	width: 100%;
	height: 200px;
}
.pay{
	max-width: 500px;
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	float: left;
}
/*.pay a{
	margin-right: 20px;
}*/
.cancel{
	width: 140px;
	margin-top: 15px;
	margin-left: 10%;
}
.chirp{
	max-width: 1040px;
	width: 100%;
	height: 110px;
	border-top: 4px solid #eee;
	margin: auto;
}
.chirp span{
	max-width: 300px;
	height: 100px;
	margin: auto;
	display: flex;
	align-items: center;
}
.chirp i{
	font-size: 50px;
	color: #55ACEE;
}
.chirp a{
	text-decoration: none;
	color: black;
}
.modal-dialog{
	margin-top: 300px;
	min-width: 800px;
}
.modal-content{
	border-radius: 10px;
	border: 2px solid #E74710;
}
.cat_pan{
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cat{
	max-width: 180px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.cat p{
	text-align: center;
}
.cat img:hover{
	border:2px solid #E74710;
	border-radius: 8px;
}
.modal-footer{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
/*.deco{
	border: 2px solid #E74710;
}*/


